@import url("styles/pricipal.css");
@import url("styles/carrossel.css");
@import url("styles/cabeçalho.css");
@import url("styles/fom_contaato.css");
@import url("styles/footer.css");

body{
    font-family: arial, sans-serif;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}