.cabeçalho{
    background: linear-gradient(rgba(100, 149, 237, 0.5), rgba(100, 149, 237, 0.5)),
     url("../imagens/cozinha.png"); 
     /*separar gradiente e imagem de fundo*/ ;
     background-size: cover; /* para cobrir toda a área do cabeçalho*/
     background-position: center;/*centraliza a imagem de fundo*/
     width: 100%;
     height: 300px;/* aumentei a altura para tonrnar o cabeçalho*/
     color: #fff;/* cor do txeto*/
     text-align: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 20px;
}

.titulo{
    font-size: 48px;
    margin-bottom: 10px;/* espaço entre o titulo  o subititulo*/
}

.subtitulo{
    font-size: 24px;
    margin-bottom: 20px; /* espaço entre o sobtitulo e o botão*/
}

.botao{
    padding: 15px 30px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    
}