.carousel-inner img{
    width: 100%;
    height: auto;
    max-height: 600px;
    object-fit: cover;
}

.carocarousel-control-prevusel{
    max-width: 500px;
    margin: auto;
}

.carousel-caption{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.spacer{
    margin-top: 30px;
}

.titulo{
    display: flex;
    margin-bottom: 10px;
}

.contato{
    padding: 20px;
}

.carousel-control-prev-icon,
             .carousel-control-next-icon{
                background-color: black;
                border-radius: 50%;
                padding: 10px;
             }
             .carousel-control-prev,
             .carousel-control-next{
                width: 10%;
                color: white;
             }
             .carousel-control-prev{
                left: -5%;
             }
             .carousel-control-next{
                right: -5%;
             }