.for{
    border: 1px olid #ccc;
}

input, textarea{
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #cab9b9 ;
    border-radius: 5px;
    box-sizing: border-box;
}

.contato{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
} 

.titulo-formulario{
    text-align: center;
    margin-bottom: 20px;
}

#contactform input,
#contactform button{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contactForm button{
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#contactform button:hover{
    background-color: #007bff;
}

/*inicio da formação doa viso da lgpd no formurario*/
.checkbox-container{
    background-color: rgb(195, 210, 219);
    display: flex;
    align-items: center;
    padding: 2px;
}

.verifica{
    display: flex;
}

.checkbox-container input[type="checkbox"]{
    margin: 0 2px 0 0;
    transform: scale(1.5);
}

.checkbox-container LABEL{
    font-weight: bold;
    margin: 0;
    flex-grow: 1;
}

.checkbox-container a{
    color: #007bff;
    text-decoration: underline;
    margin: 0;
}

